/* figtree-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Figtree";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/figtree-v9-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    position: relative;
    color: inherit;
    font-size: inherit;
    scroll-behavior: smooth;

    color: white;
}

html {
    font-size: 62.5%;
}

@media screen and (min-width: 768px){
    html {
        font-size: 79%;;
    }
}

body {
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: rgba(6, 23, 30, 1);
}

main{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.content {
    width: 100%;
    padding: 0px max(calc(50% - 720px), 1.6rem);
}

header {
    height: 7.5rem;
    background-color: rgba(9, 33, 42, 1);
}

header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media screen and (min-width: 549px){
    header .content{
        justify-content: flex-start;
        padding-left: 48px;
    }
}

header img {
    height: 3.2rem;
}

section {
    background-color: rgba(6, 23, 30, 1);
    padding-top: 4.8rem;
    padding-bottom: 4.8rem;
    flex-grow: 1;
}

section .content {
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
}

h1 {
    font-family: "Figtree";
    font-size: 4.5rem;
    text-align: center;
    color: white;
}

footer {
    height: 130px;
    background-color: rgba(6, 23, 30, 1);
    display: flex;
    align-items: center;
}

.footer-bg {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.footer-content {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
}

figure {
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer-text {
    font-size: 24px;
    font-weight: bold;
    font-family: Figtree;
}

.footer-logo {
    height: 56px;
}

.copyright {
    height: 16px;
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 16px;
    column-gap: 16px;
}

@media screen and (min-width:769px) {
    #gallery{
        row-gap: 32px;
    }
}

@media screen and (min-width: 931px) {
    #gallery{
        row-gap: 48px;
    }
}

#gallery img {
    height: 135px;
    width: 135px;
    border-radius: 16px;
    border: 2px solid rgba(18, 70, 88, 1);
}

#gallery img:hover{
    border-color:rgb(112, 193, 227, 1) ;
}

dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 66dvh;
    width: clamp(135px, 100dvw, 690px);

    border: none;
    outline: none;

    font-family: "Figtree";
    font-size: 24px;

    background: transparent;
}
.dialog-inner {
    background-color: rgba(9, 33, 42, 1);
    padding: 32px 16px;
    border-radius: 40px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
    width: 100%;
    text-align: center;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
}

.dialog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

dialog[open] .close-icon {
    height: 24px;
    width: 24px;
}

.close-icon:hover{
    content: url("./assets/icons/close_icon_hover.png");
}

dialog img {
    width: 90%;
    height: 35dvh;
    object-fit: contain;
}


.dialog-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
    width: 100%;
    background-color: rgba(9, 33, 42, 1);
}

.arrow{
    height: 56px;
    width: 56px;
}

.arrow:hover{
    content: url("./assets/icons/hover_arrow.png");
}

.left:hover{
    transform: rotate(180deg);
}

#img-counter{
    font-size: 20px;
}
